@use "../../utility/index" as utils;

@mixin input-mixin($name,
  $idle,
  $active,
  $focus,
  $disabled,
  $placeholder,
  $error,
  $success,
  $label,
  $labelError
) {
  .eds-#{$name}-input {
    transition: 0.4s;
    @content("idle");
    @include utils.status($idle);

    &:active {
        @content("active");
        @include utils.status($active);
    }

    &:focus {
        outline: none;
        @content("focus");
        @include utils.status($focus);
    }
    
    &:disabled {
        @content("disabled");
        @include utils.status($disabled);
        cursor: not-allowed;
        &::placeholder {
          color: #E0E8EB;
        }
    }

    &::placeholder {
      @content("placeholder");
      @include utils.status($placeholder);
    }
    
    &--error {
      @content("error");
      @include utils.status($error);
    }

    &--success {
      @content("success");
      @include utils.status($success);
    }

    @include utils.add-flex-container-subclass(
      $dir: column,
      $align: default
    ) {
      width: fit-content;
      position: relative;
    }

    &__label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;

      &--error {
        .eds-#{$name}-input__label__error-alert {
          display: block;
        }
      }

      &__text {
        @include utils.status($label);
        @content("label");
        margin-bottom: 8px;

        &--disabled {
          cursor: not-allowed;
          @include utils.status($disabled);
        }

        &--error {
          @include utils.status($labelError);
          @content("labelError");
        }
      }

      &__error-alert {
        @include utils.status($labelError);
        @content("labelError");
        margin-bottom: 6px;
        display: none;
        &::before{
          content: "⚠";
          margin-right: 4px;
        }
      }
    }
  }
}