@use "../../themes/default/globals/colors.scss" as colors;
@use "../../utility/index" as utils;

@mixin input-mixin($name,
  $idle,
  $active,
  $focus,
  $disable,
  $placeholder,
  $error,
  $success,
  $label,
  $labelError
) {
  .eds-#{$name}-input {
    @content("idle");
    @include utils.status($idle);

    &:active {
        @content("active");
        @include utils.status($active);
    }

    &:focus {
        outline: none;
        @content("focus");
        @include utils.status($focus);
    }
    
    &:disabled {
        @content("disable");
        @include utils.status($disable);
        cursor: not-allowed;
        &::placeholder {
          color: #E0E8EB;
        }
    }

    &::placeholder {
      @content("placeholder");
      @include utils.status($placeholder);
    }

    &-root {
      display: inline-flex;
      flex-direction: column;
      &-input {
        position: relative;
      }
    }
    
    &--error {
      @content("error");
      @include utils.status($error);
    }

    &--success {
      @content("success");
      @include utils.status($success);
      &-icon {
        position: absolute;
        right: 13px;
        bottom: 50%;
        transform: translateY(50%);
        color: colors.$success;
      }
    }
  }

  .eds-label-#{$name}-input {
    @content("label");
    @include utils.status($label);
    &--error {
      @content("labelError");
      @include utils.status($labelError);
    }
    &--disabled {
      @content("disable");
      @include utils.status($disable);
    }
  }
  .eds-label-#{$name}-input-block {
    @content("labelError");
    @include utils.status($labelError);
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .label-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}