@use "../../utility/index" as utils;
@use "../../themes/%input%/constants/colors.scss" as theme_colors;

@function getIdleColor($colors){
    @return map-get($colors, "idle" );
}

@function getErrorColor($colors){
  @return map-get($colors, "error" );
}

@function getSuccessColor($colors){
  @return map-get($colors, "success" );
}

@function getActiveColor($colors){
  @return map-get($colors, "active")
}

@mixin input-mixin($name,
  $idle,
  $active,
  $focus,
  $disabled,
  $placeholder,
  $error,
  $success,
  $label,
  $labelError,
  $colors
) {
  .eds-#{$name}-input {
    transition: 0.4s;
    @content("idle");
    @include utils.status($idle);

    &:active {
        @content("active");
        @include utils.status($active);
    }

    &:focus + &__icon{
      color: getActiveColor($colors);
    }

    &:focus {
        outline: none;
        @content("focus");
        @include utils.status($focus);
    }
    
    &:disabled {
        @content("disabled");
        @include utils.status($disabled);
        cursor: not-allowed;
        &::placeholder {
          color: map-get($disabled,"text");
        }
    }

    &::placeholder {
      @content("placeholder");
      @include utils.status($placeholder);
    }
    
    &--error {
      @content("error");
      @include utils.status($error);
    }

    &--success {
      @content("success");
      @include utils.status($success);
    }

    @include utils.add-flex-container-subclass(
      $dir: column,
      $align: default
    ) {
      width: fit-content;
      position: relative;
    }

    &__icon{
      position: absolute;
      right: 8px;
      bottom: 8px;
      &--success{
        color:getSuccessColor($colors);
      }
      &--error{
        color: getErrorColor($colors);
      }
      &--disabled{
        color: getIdleColor($colors);
      }
    }

    &__label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;

      &--error {
        .eds-#{$name}-input__label__error-alert {
          display: block;
        }
      }

      &__text {
        @include utils.status($label);
        @content("label");
        margin-bottom: 8px;

        &--disabled {
          cursor: not-allowed;
          @include utils.status($disabled);
        }

        &--error {
          @include utils.status($labelError);
          @content("labelError");
        }
      }

      &__error-alert {
        @include utils.status($labelError);
        @content("labelError");
        margin-bottom: 6px;
        display: none;
        &::before{
          content: "circle x";
          margin-right: 4px;
          font-family: Toast;
        }
      }
    }
  }
}