@use "../../utility/index" as utils;

@mixin button-mixin($name,
    $idle,
    $hover,
    $focus,
    $disable
) {
    .eds-#{$name}-button {
        cursor: pointer;
        @content("idle");
        @include utils.status($idle);

        &:hover {
            @content("hover");
            @include utils.status($hover);
        }

        &:focus {
            outline: none;
            @content("focus");
            @include utils.status($focus);
        }

        &:disabled {
            @content("disable");
            @include utils.status($disable);
            cursor: default;
        }
    }
}