@use "../../utility/index" as utils;
@use "../icon/icons" as icons;

@mixin button-mixin($name,
    $idle,
    $hover,
    $focus,
    $disabled
) {
    .eds-#{$name}-button {
        cursor: pointer;
        transition: 0.4s;
        @content("idle");
        @include utils.status($idle);

        &:hover {
            @content("hover");
            @include utils.status($hover);
        }

        &:focus {
            outline: none;
            @content("focus");
            @include utils.status($focus);
        }

        &:disabled {
            @content("disabled");
            @include utils.status($disabled);
            cursor: not-allowed;
        }

        &[class*=icon-]:before {
            font-family: 'Toast' !important;
            margin-right: 6px;
            vertical-align: bottom;
        }

        @each $name, $glyph in icons.$icons {
            &.icon-#{$name}:before {
                content: $glyph;
            }
        }
    }

    .eds-button-small {
      font-size: 12px;
      height: 29px;
      width: 80px;
      padding: 0;

      &.eds-text-button {
        height: auto;
        width: auto;
      }

      &:focus {
        padding: 0;
      }
    }
}
