@use '../../themes/%button%/button/outline' as tokens;

$idle-text: tokens.$idle-font-color;
$idle-border: tokens.$idle-font-color;
$idle-background: tokens.$idle-background-color;
$idle-border-width: tokens.$border-width;

$hover-text: tokens.$hover-font-color;
$hover-border: tokens.$hover-background-color;
$hover-background: tokens.$hover-background-color;

$focus-text: tokens.$focus-font-color;
$focus-border: tokens.$focus-background-color;
$focus-background: tokens.$focus-background-color;
$focus-border-width: 4 * tokens.$border-width;

$disable-text: tokens.$disable-font-color;
$disable-background: tokens.$disable-background-color;

$radius: tokens.$border-radius;
$height: tokens.$height;
$text-style: uppercase;

.eds-button--outline {
    border-radius: $radius;
    border-style: solid;
    height: $height;
    box-sizing: border-box;
    text-transform: $text-style;
    padding: 
        tokens.$padding-top
        tokens.$padding-right
        tokens.$padding-bottom
        tokens.$padding-left
    ;
    font-family: tokens.$font-name;
    font-weight: tokens.$font-weight;
    font-size: tokens.$font-size;
    line-height: tokens.$line-height;
    cursor: pointer;

    color: $idle-text;
    border-color: $idle-border;
    background-color: $idle-background;
    border-width: $idle-border-width;
    
    &:hover {
        color: $hover-text;
        border-color: $hover-border;
        background-color: $hover-background;
    }

    &:focus {
        outline: none;
        border-style: double;
        background-clip: padding-box;
        color: $focus-text;
        border-color: $focus-border;
        background-color: $focus-background;
        border-width: $focus-border-width;
        padding: 
            tokens.$padding-top - $focus-border-width * 3/4
            tokens.$padding-right - $focus-border-width * 3/4
            tokens.$padding-bottom - $focus-border-width * 3/4
            tokens.$padding-left - $focus-border-width * 3/4
        ;
    }

    &:disabled {
        color: $disable-text;
        border-color: $disable-background;
        background-color: $disable-background;
        cursor: default;
    }
}