@use '../../themes/%button%/buttons/primary' as tokens;
@use '../../utility/index' as utils;
@use './utils' as button-utils;

$idle-group: utils.create-group(
    $text: tokens.$idle-font-color, 
    $background: tokens.$idle-background-color, 
    $border: tokens.$idle-background-color
);

$hover-group: utils.create-group(
    $text: tokens.$hover-font-color, 
    $background: tokens.$hover-background-color, 
    $border: tokens.$hover-background-color
);

$focus-group: utils.create-group(
    $text: tokens.$focus-font-color, 
    $background: tokens.$focus-background-color, 
    $border: tokens.$focus-background-color
);

$disable-group: utils.create-group(
    $text: tokens.$disable-font-color, 
    $background: tokens.$disable-background-color, 
    $border: tokens.$disable-background-color
);

@include button-utils.button-mixin(
    "primary",
    $idle-group,
    $hover-group,
    $focus-group,
    $disable-group
) using ($type){
    
    @if $type == "idle" {
        border-style: solid;
        box-sizing: border-box;
        text-transform: uppercase;
        height: tokens.$height;
        border-width: tokens.$border-width;
        border-radius: tokens.$border-radius;
        padding: 
            tokens.$padding-top
            tokens.$padding-right
            tokens.$padding-bottom
            tokens.$padding-left
        ;
        font-family: tokens.$font-name;
        font-weight: tokens.$font-weight;
        font-size: tokens.$font-size;
        line-height: tokens.$line-height;
        letter-spacing: tokens.$spacing;
    }

    @if $type == "focus" {
        @include utils.synthetic-outline-border(
            tokens.$border-width,
            tokens.$padding-top,
            tokens.$padding-right,
            tokens.$padding-bottom,
            tokens.$padding-left
        )
    }
    
}