@use '../../themes/%button%/buttons/text' as tokens;
@use './utils' as utils;

$idle-group: utils.create-group(
    $text: tokens.$idle-font-color, 
    $background: tokens.$idle-background-color,
);

$hover-group: utils.create-group(
    $text: tokens.$hover-font-color, 
    $background: tokens.$hover-background-color, 
    $border: tokens.$hover-font-color
);

$focus-group: utils.create-group(
    $text: tokens.$focus-font-color, 
    $background: tokens.$focus-background-color
);

$disable-group: utils.create-group(
    $text: tokens.$disable-font-color, 
    $background: tokens.$disable-background-color
);

@include utils.button-mixin(
    "text",
    $idle-group,
    $hover-group,
    $focus-group,
    $disable-group
) using ($type){
    
    @if $type == "idle" {
        border: none;
        box-sizing: border-box;
        text-transform: uppercase;
        height: tokens.$height;
        letter-spacing: tokens.$spacing;
        padding: 
            tokens.$padding-top
            tokens.$padding-right
            tokens.$padding-bottom
            tokens.$padding-left
        ;
        font-family: tokens.$font-name;
        font-weight: tokens.$font-weight;
        font-size: tokens.$font-size;
        line-height: tokens.$line-height;
    }

    @if $type == "hover" {
        border-bottom: tokens.$border-width solid tokens.$hover-font-color;
    }

    @if $type == "focus" {
        border: none;
    }
    
    @if $type == "disable" {
        border: none;
    }
}