@use '../../themes/%button%/buttons/text' as tokens;
@use '../../utility/index' as utils;
@use './utils' as button-utils;

$idle-group: utils.create-group(
    $text: tokens.$idle-font-color, 
    $background: tokens.$idle-fill-color,
);

$hover-group: utils.create-group(
    $text: tokens.$hover-font-color, 
    $background: tokens.$hover-fill-color, 
    $border: tokens.$hover-font-color
);

$focus-group: utils.create-group(
    $text: tokens.$focus-font-color, 
    $background: tokens.$focus-fill-color
);

$disabled-group: utils.create-group(
    $text: tokens.$disabled-font-color, 
    $background: tokens.$disabled-fill-color
);

@include button-utils.button-mixin(
    "text",
    $idle-group,
    $hover-group,
    $focus-group,
    $disabled-group
) using ($type){

    @if $type == "idle" {
        border: none;
        box-sizing: border-box;
        text-transform: uppercase;
        height: tokens.$height;
        letter-spacing: tokens.$spacing;
        padding:
            tokens.$padding-top
            tokens.$padding-right
            tokens.$padding-bottom
            tokens.$padding-left
        ;
        font-family: tokens.$font-name;
        font-weight: tokens.$font-weight;
        font-size: tokens.$font-size;
        line-height: tokens.$line-height;
    }

    @if $type == "hover" {
        border-bottom: tokens.$border-width solid tokens.$hover-font-color;
    }

    @if $type == "focus" {
        border: none;
    }

    @if $type == "disabled" {
        border: none;
    }
}
