.SidebarItem {

    padding-left: 27px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    

    &:hover {
        color: var(--orange);
        rect {
            fill: var(--orange);
        }
    }
    
    svg {
        position: absolute;
        top: 0;
        right: 24px;
    }
}

.Subtabs {
    color: black;
    list-style-type: none;
    padding-left: 15px;

    li {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.16px;
        z-index: 0;

        &:hover {
            color: var(--orange);
        }
    }

    .Highlight {
        position: relative;
    
        &:hover {
            color: var(--black);
        }
    
        &::before {
            content: "";
            position: absolute;
            background-color: rgba(212, 57, 0, 0.3);
            width: 250px;
            height: 45px;
            top: 0;
            left: -42px;
            z-index: -1;
        }
    }
}

.Expanded {
  border-bottom: 1px solid var(--orange);
}