@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding-left: 15px;
}

section:last-child {
  margin-bottom: 50px;
}

section h1:first-child {
  text-align: center;
  border-bottom: 1px solid slategray;
  border-top: 1px solid slategray;
}

.icon-demo {
  display: inline-block;
  color: var(--black);
  text-align: center;
  padding: 5px 10px;
  width: 125px;
}
/* -----------ACCORDION STYLES----------------- */

.accordion {
  width: 378px;
}

.item {
  background: #f8f8f8;
  margin-bottom: 1px;
  border: 1px solid;
  border-radius: 8px;
  padding: 13px;
}
.item:hover{
  background: #f9d9d2;
    border-radius: 10px;
}
.item.show {
  background: white;
  border: none;
  padding: 0px 0px 16px;
}
.item[disabled]{
  background: #e6e6e6;
  pointer-events: none;
  color: #b8b8b8;
  border: none;
}
.title {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.title.show {
  margin-top: 10px;
  padding: 0px 8px;
  color: #DE411B;
  font-weight: bold;

}
.title[disabled] {
  color: #b8b8b8;
}
.content {
  color: #000;
  max-height: 0;
  overflow: hidden;
}
.content.show {
  height: auto;
  max-height: 9999px;
  padding: 0px 10px;
  margin: 10px 0;
  cursor: pointer;
}
