@use '../colors/index' as colors;
@use '../themes/%button%/button/primary' as primary;
@use '../themes/%button%/button/cta' as cta;
@use '../themes/%button%/button/disabled' as disabled;

.eds-button--primary {
    border-radius: primary.$radius;
    border: primary.$idle-border-width solid primary.$idle-border;
    height: primary.$height;
    min-width: primary.$min-width;
    box-sizing: border-box;
    text-transform: primary.$text-style;
    cursor: pointer;

    color: primary.$idle-text;
    background-color: primary.$idle-background;

    &:hover {
        color: primary.$hover-text;
        border-color: primary.$hover-border;
        background-color: primary.$hover-background;
    }

    &:focus {
        outline: none;
        color: primary.$focus-text;
        background-color: primary.$focus-background;
        border-color: primary.$focus-border;
        border-style: double;
        border-width: primary.$focus-border-width;
        background-clip: padding-box;
    }
}

.eds-button--cta {
    border-radius: cta.$radius;
    border: cta.$idle-border-width solid cta.$idle-border;
    height: cta.$height;
    min-width: cta.$min-width;
    box-sizing: border-box;
    text-transform: cta.$text-style;
    cursor: pointer;

    color: cta.$idle-text;
    background-color: cta.$idle-background;

    &:hover {
        color: cta.$hover-text;
        border-color: cta.$hover-border;
        background-color: cta.$hover-background;
    }

    &:focus {
        outline: none;
        color: cta.$focus-text;
        background-color: cta.$focus-background;
        border-color: cta.$focus-border;
        border-style: double;
        border-width: cta.$focus-border-width;
        background-clip: padding-box;
    }
}

.eds-button--disabled {
    border-radius: disabled.$radius;
    border: disabled.$border solid disabled.$base;
    color: disabled.$text;
    background-color: disabled.$background;
    height: disabled.$height;
    min-width: disabled.$min-width;
    box-sizing: border-box;
    text-transform: disabled.$text-style;
    cursor: auto;

    &:focus {
        outline: none;
    }
}