.Sidebar {
    background-color: var(--white);
    width: 250px;
    border-right: 1px solid var(--landing-lightgray);
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        margin-top: 40px;
        text-align: center;
        cursor: pointer;
    }

    nav {
        margin-top: 65px;
    }

    .Highlight {
        color: var(--orange);
        border-bottom: 1px solid var(--orange);
    }
}