
// @use '../../themes/%navbar%/navbar' as tokens;
@use "../../themes/%navbar%/navbar/navbar_tokens" as tokens;
@use "../../utility/index" as utils;

.eds-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: antiquewhite;
}

.eds-navbar-brand {
    color: tokens.$main-color;

    &:hover, &:focus {
        color: orangered;
    }
}

.eds-navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        padding: 0 20px;
    }

    li > a {
        transition: all 0.3s ease 0s;

        &:hover {
            color: brown;
            text-decoration: underline;
        }

        &:active {
            color: orangered;
            text-decoration: underline;
        }

        &:focus {
            border-color: orangered;
        }

        &:disabled {
            color: gray;
            cursor: not-allowed;
        }
    }
}

.eds-navbar-toggle {
        &:hover {
            color: brown;
            text-decoration: underline;
        }

        &:active {
            color: orangered;
            text-decoration: underline;
        }
}