@use "../constants/colors.scss" as theme_colors;
@use "../constants/fonts.scss" as theme_fonts;
@use "../constants/shape.scss" as theme_shape;

// Size
$width: 40px;
$height: 40px;

// Shape
$border-radius: theme_shape.$avatar-radius;

// Color
$fill: theme_colors.$primary-mid;
$font-color: theme_colors.$content;

// Font
$font-name: theme_fonts.$avatar-font;
$font-weight: theme_fonts.$avatar-weight;
$font-size: theme_fonts.$avatar-size;
$line-height: theme_fonts.$avatar-line-height;
$spacing: theme_fonts.$avatar-spacing;
