@font-face {
  font-family: 'Toast';
  src:  url('./toasticons/Toast.eot?4ynaw4');
  src: url('./toasticons/Toast.eot?4ynaw4#iefix') format('embedded-opentype'),
    url('./toasticons/Toast.ttf?4ynaw4') format('truetype'),
    url('./toasticons/Toast.woff?4ynaw4') format('woff'),
    url('./toasticons/Toast.svg?4ynaw4#Toast') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@function create-size($px,$em,$lh) {
    @return (
        "px": $px, "em": $em, "line-height": $lh
    )
};

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

$font-name: Roboto;
$font-condensed: "Roboto Condensed";

// Weights

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Sizes

$px-label: 12px;
$px-button: 16px;
$px-placeholder: 16px;
$px-paragraph: 16px;
$px-h4: 20px;
$px-h3: 24px;
$px-h2: 26px;
$px-subtitle: 16px;
$px-h1: 29px;

$relative-label: 0.75em;
$relative-button: 1em;
$relative-placeholder: 1em;
$relative-paragraph: 1em;
$relative-h4: 1.25em;
$relative-h3: 1.5em;
$relative-h2: 1.625em;
$relative-subtitle: 1em;
$relative-h1: 1.813em;

$lh-label: 13px;
$lh-button: 15px;
$lh-placeholder: 16px;
$lh-paragraph: 18px;
$lh-h4: 30px;
$lh-h3: 36px;
$lh-h2: 39px;
$lh-subtitle: 24px;
$lh-h1: 48px;

// Semantic sizes

$sizes: (
    "label": create-size(
        $px-label, 
        $relative-label,
        $lh-label
    ),
    "button": create-size(
        $px-button, 
        $relative-button,
        $lh-button
    ),
    "placeholder": create-size(
        $px-placeholder, 
        $relative-placeholder,
        $lh-placeholder
    ),
    "paragraph": create-size(
        $px-paragraph, 
        $relative-paragraph,
        $lh-paragraph
    ),
    "h4": create-size(
        $px-h4, 
        $relative-h4,
        $lh-h4
    ),
    "h3": create-size(
        $px-h3, 
        $relative-h3,
        $lh-h3
    ),
    "h2": create-size(
        $px-h2, 
        $relative-h2,
        $lh-h2
    ),
    "subtitle": create-size(
        $px-subtitle, 
        $relative-subtitle,
        $lh-subtitle
    ),
    "h1": create-size(
        $px-h1, 
        $relative-h1,
        $lh-h1
    )
);

// Utility

@function get-size($name,$variant: "px"){
    $size: map-get($sizes, $name);
    @return map-get($size, $variant);
}
