.Markdown {
    color: var(--primary-text);
    text-transform: normal;
    
    @each $level in ("1","2","3") {
        & h#{$level} {
            color: var(--landing-primary);
        }
    }

    & h2 {
        text-transform: normal;
        font-size: 29px;
        line-height: 48px;
    }

    .CodeExample {
        box-shadow: 
            0px 10px 20px rgba(0, 0, 0, 0.04), 
            0px 2px 6px rgba(0, 0, 0, 0.04), 
            0px 0px 1px rgba(0, 0, 0, 0.04);
        border: 1px solid var(--landing-lightgray);

        max-width: 785px;
        
        & .Pre, & .Code {
            margin: 0;
        }

        & .Code {
            padding: 32px 24px;
        }
    }
    
    .RenderedCode {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 55px 0px;
        box-sizing: border-box;
    }

    & table {
        border-collapse: collapse;
        width: 100%;
        max-width: 950px;
        margin-bottom: 34px;

        tr {
            border-bottom: 1px solid var(--landing-primary);

            $outer-padding: 25px;
            $inner-padding: 10px;
            $full-padding: $outer-padding + $inner-padding;
            
            td {
                box-sizing: border-box;
                padding: $full-padding 0px;
                font-size: 16px;
                line-height: 24px;

                pre {
                    margin: 0;
                    font-family: "Roboto Mono";
                    line-height: 15px;
                }
            }

            td:first-of-type {
                padding: $outer-padding 0px;

                pre {
                    display: inline;
                    padding: $inner-padding;
                    background-color: var(--landing-lightgray);
                }
            }

            th {
              padding-bottom: 20px;
              color: var(--landing-primary);
              text-transform: capitalize;
            }
        }
    }
}
