@use "../../themes/%radio%/radio/" as tokens;
@use "../../utility/index" as utils;

.eds-radio {
    $border-compensation: 2px;
    visibility: hidden;
    position: relative;
    width: tokens.$size + $border-compensation;
    height: tokens.$size + $border-compensation;
    margin: 0;
    
    &:after {
        margin: 0px;
        padding: 5px;
        background-clip: content-box;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid tokens.$border;
        border-radius: tokens.$radius;
        font-family: tokens.$font-name;
        font-size: tokens.$size;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: tokens.$size + $border-compensation;
        height: tokens.$size + $border-compensation;
        cursor: pointer;
        content: "";
    }

    &:disabled:after {
        border-color: tokens.$disabled;
        background-color: none;
        cursor: not-allowed;
    }
      
    &:checked:after {
        content: "";
        background-color: tokens.$background;
        border-color: tokens.$background;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label {
        height: tokens.$size;
        color: tokens.$font-color;
        font-family: tokens.$font-name;
        height: tokens.$line-height;
        font-size: tokens.$font-size;
        font-weight: tokens.$font-weight;
        letter-spacing: tokens.$spacing;
        margin-left: tokens.$box-margin;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        &--disabled {
            color: tokens.$disabled;
            cursor: not-allowed;
        }

    }
    @include utils.add-flex-list-subclass();
    @include utils.add-flex-container-subclass() {
        margin-bottom: 8px;
    };
}