@use '../../../colors/index' as colors;

$base: colors.etoast-color("gray");
$text: colors.etoast-color("white");
$background: colors.etoast-color("gray");
$radius: 24px;
$border: 1px;
$height: 40px;
$min-width: 120px;
$text-style: uppercase;