@use "../base/colors.scss" as colors;
@use "../../../base/fonts.scss" as fonts;

// Color tokens

$font-color: colors.$white;
$border-color: colors.$base;
$background-color: colors.$base;

// Shape tokens

$border-radius: 30px;
$border-width: 1px;
$height: 37px;
$padding-top: 11px;
$padding-right: 28px;
$padding-bottom: 11px;
$padding-left: 28px;

// Font tokens

$sizing: "px"; // or "em"
$font-name: fonts.$font-name;
$font-weight: fonts.$regular;
$font-size: fonts.get-size("button", $sizing);
$line-height: fonts.get-size("button", "line-height");
// There is something called spacing, que ej eso
