@use "../../themes/%toggle%/toggle/" as tokens;
@use "../../utility/index" as utils;

.eds-toggle {
    visibility: hidden;
    position: relative;
    width: tokens.$width;
    height: tokens.$height;
    margin: 0;

    &::after, &::before {
        visibility: visible;
        cursor: pointer;
        content: "";
    }
    
    &:after {
        display: block;
        position: absolute;
        margin: auto;
        left: 2px;
        top: 0;
        bottom: 0;
        width: tokens.$circle-size;
        height: tokens.$circle-size;
        border-radius: 50%;
        background-color: tokens.$circle-color;
    }

    &:disabled:after {
        background-color: tokens.$disabled-circle-color;
    }
      
    &:checked:after {
        right: 2px;
        left: unset;
    }

    &:before {
        position: absolute;
        left: 0;
        width: tokens.$width;
        height: tokens.$height;
        background-color: tokens.$off-color;
        border-radius: tokens.$radius;
    }

    &:disabled:before {
        background-color: tokens.$disabled-color;
    }
      
    &:checked:before {
        background-color: tokens.$on-color;
    }

    &__label {
        color: tokens.$font-color;
        font-family: tokens.$font-name;
        height: tokens.$line-height;
        font-size: tokens.$font-size;
        font-weight: tokens.$font-weight;
        letter-spacing: tokens.$spacing;
        margin-left: tokens.$box-margin;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        &--disabled {
            color: tokens.$disabled;
            cursor: not-allowed;
        }

    }
    @include utils.add-flex-list-subclass();
    @include utils.add-flex-container-subclass() {
        margin-bottom: 8px;
    };

}