@use "../../themes/%toggle%/toggle/" as theme_tokens;
@use "../../utility/index" as utils;

.eds-toggle {
    visibility: hidden;
    position: relative;
    width: theme_tokens.$width;
    height: theme_tokens.$height;
    margin: 0;

    &:after,
    &:before {
        visibility: visible;
        cursor: pointer;
        content: "";
        transition: .4s;
    }
 
    &:after {
        display: block;
        position: absolute;
        margin: auto;
        left: 2px;
        top: 0;
        bottom: 0;
        width: theme_tokens.$circle-size;
        height: theme_tokens.$circle-size;
        border-radius: theme_tokens.$radius;
        background-color: theme_tokens.$circle-color;
    }

    &:disabled:after {
        background-color: theme_tokens.$disabled-circle-color;
        opacity: 0.14;
        cursor: not-allowed;
    }

    &:checked:after {
        left: calc(100% - #{theme_tokens.$circle-size} - 2px);
    }

    &:before {
        font-family: Toast;
        content: '×';
        font-size: theme_tokens.$cross-size;
        padding: theme_tokens.$toggle-padding;
        box-sizing: border-box;
        line-height: 0.3;
        color: theme_tokens.$check-color;
        text-align: right;
        position: absolute;
        left: 0;
        width: theme_tokens.$width;
        height: theme_tokens.$height;
        background-color: theme_tokens.$off-color;
        border-radius: theme_tokens.$radius;
        transition: none;
    }

    &:disabled:before {
        background-color: theme_tokens.$disabled-color;
        cursor: not-allowed;
        content: '';
    }
      
    &:checked:before {
        background-color: theme_tokens.$on-color;
        font-family: Toast;
        content: "check mark";
        font-size: theme_tokens.$check-size;
        text-align: left;
        line-height: 1;
        transition: none;
    }

    &__label {
        color: theme_tokens.$font-color;
        font-family: theme_tokens.$font-name;
        font-size: theme_tokens.$font-size;
        font-weight: theme_tokens.$font-weight;
        height: theme_tokens.$line-height;
        letter-spacing: theme_tokens.$letter-spacing;
        margin-left: theme_tokens.$box-margin;
        cursor: pointer;
        display: flex;
        align-items: center;

        &--disabled {
            color: theme_tokens.$disabled-color;
            cursor: not-allowed;
        }

    }
    @include utils.add-flex-list-subclass();
    @include utils.add-flex-container-subclass() {
        margin-bottom: 8px;
    };

}
