@use "../globals/colors.scss" as colors;
@use "../globals/fonts.scss" as fonts;
@use "../globals/shape.scss" as shape;

// Color tokens

// idle
$idle-font-color: colors.$white;
$idle-fill-color: colors.$base;

// hover
$hover-font-color: colors.$white;
$hover-fill-color: colors.$dark-contrast;

// focus
$focus-font-color: colors.$white;
$focus-fill-color: colors.$base;

// disable
$disable-font-color: colors.$white;
$disable-fill-color: colors.$disable;

// Shape tokens

$border-radius: shape.$button-radius;
$border-width: 1px;
$height: 37px;
$padding-top: 11px;
$padding-right: 28px;
$padding-bottom: 11px;
$padding-left: 28px;

// Font tokens

$font-name: fonts.$button-font;
$font-weight: fonts.$button-weight;
$font-size: fonts.$button-size;
$line-height: fonts.$button-line-height;
$spacing: fonts.$button-spacing;