@use "../globals/colors.scss" as colors;
@use "../../../globals/fonts.scss" as fonts;
@use "../../../globals/shape.scss" as shape;

// Color tokens

// idle
$idle-font-color: colors.$base;
$idle-background-color: colors.$white;

// hover
$hover-font-color: colors.$dark-contrast;
$hover-background-color: colors.$white;

// focus
$focus-font-color: colors.$base;
$focus-background-color: colors.$white;

// disable
$disable-font-color: colors.$disable;
$disable-background-color: colors.$white;

// Shape tokens

$border-radius: shape.$pill-radius;
$border-width: 1px;
$height: auto;
$padding-top: 0px;
$padding-right: 0px;
$padding-bottom: 0px;
$padding-left: 0px;

// Font tokens

$sizing: "px"; // or "em"
$font-name: fonts.$font-name;
$font-weight: fonts.$regular;
$font-size: fonts.get-size("button", $sizing);
$line-height: fonts.get-size("button", "line-height");
$spacing: 0.16px;
