.Card {
    max-width: 344px;
    width: 30%;
    background-color: var(--white);
    position: relative;
}

.Tall {
    height: 506px;
}

.Short {
    height: 377px;
}

.Card:hover {
    box-shadow: 0px 24px 30px rgba(0, 0, 0, 0.2);
}

.Card_circle {
    border-radius: 104px;
    background-color: var(--landing-lightgray);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.BigCircle {
    width: 208px;
    height: 208px;
    margin-top: 86px;
}

.SmallCircle {
    width: 127px;
    height: 127px;
    margin-top: 57px;
}

.Card_heading {
    color: var(--landing-primary);
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.Card_phrase {
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 0px;
}

.Card_button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.BottomOffset {
    position: absolute;
    Bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.CenterOffset {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}