.AccessibilitySpecifications {
    nav {
        height: 75px;
        line-height: 70px;
        box-shadow: 0px 4px 8px rgba(2, 14, 18, 0.04);
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        background-color: var(--white);
        z-index: 3;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            width: 70%;
            justify-content: space-evenly;

            li {

                display: inline;
            }
        }
    }

    section {
        text-align: left;
        padding-left: 66px;
        padding-right: 66px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--landing-lightgray);

        &:last-of-type {
            background-color: var(--landing-lightgray);

            a{
                text-transform: uppercase;
                display: block;
                font-size: 16px;
                line-height: 22px;
            }
        }

        h2 {
            color: var(--landing-primary);
            font-weight: 500;
            font-size: 24px;
        }

        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
        }

        h4 {
            font-size: 20px;
            line-height: 30px;
        }

        h5 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    
        @media screen and (min-width: 1440px) {
            padding-left: 102px;
            padding-right: 102px;
        }
    
        p {
            font-size: 16x;
            line-height: 30px;
        }

        .DisabilitiesRow {
            margin-top: 40px;
            display: flex;
            font-size: 16px;
            line-height: 30px;

            :first-child {
                width: 420px;
                p {
                    margin-top: 16px;
                    margin-bottom: 0;
                }
            }
            .DisabilitiesColumn {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                line-height: 24px;

                :first-child {
                    font-size: 20px;
                }
            }
        }

        .FigureColumn {
            width: 700px;
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

            figure {
                position: relative;
                margin-left: 0;
                margin-right: 0;

                label {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 24px;
                }
                p {
                    width: 309px;
                    padding-left: 20px;
                    font-size: 12px;
                    line-height: 18px;
                    margin: 0;
                }
            }

            
        }

        .ContrastColumn {
            width: 680px;
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

            .ContrastItem {
                background-color: var(--landing-lightgray);
                width: 260px;
                padding-top: 25px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 5px;
                margin: 10px;

                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0;
                }

                p {
                    font-size: 12px;
                    line-height: 18px;
                }

                p:first-of-type {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .CenteredImage {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
    }
}