.TopSection {
    padding-top: 212px;
    text-align: left;
    padding-left: 81px;
    position: relative;
    z-index: 1;

    h1 {
        font-weight: 500;
        font-size: 100px;
        line-height: 85px;
        letter-spacing: -4.5px;
        color: var(--landing-primary);
        margin-top: 0px;
        width: 107px;
    }

    p {
        width: 467px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.24px;
    }
}

.Circle{
    visibility: hidden;
    width: 20vw;
    height: 20vw;
    border-radius: 238px;
    background-color: var(--landing-lightgray);
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 50px;
    top: 10%;

    @media screen and (min-width: 768px) {
        visibility: visible;
    }
    
    @media screen and (min-width: 1024px) {
        top: 112px;
    }
    
    @media screen and (min-width: 1265px) {
        width: 474.66px;
        height: 474.66px;
        top: 146px;
    }

    img {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.BottomSection {
    margin-top: 196px;
    padding-top: 40px;
    padding-bottom: 142px;
    background-color: var(--landing-lightgray);

    h2 {
        font-weight: 500;
        font-size: 29px;
        line-height: 32px;
        letter-spacing: 0.241667px;
        color: var(--orange);
        margin: 0;
    }

    .BottomSection_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 40px
    }
}