.ComponentOverview {
    .BottomSection {
        padding-top: 40px;
        padding-bottom: 142px;
        background-color: var(--landing-lightgray);

        h2 {
            font-weight: 500;
            font-size: 29px;
            line-height: 32px;
            letter-spacing: 0.241667px;
            color: var(--orange);
            margin: 0;
        }

        .BottomSection_cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 40px
        }
    }
}