@use '../../themes/%textarea%/textarea/outline' as tokens;
@use '../../utility/index' as utils;
@use './utils' as textarea-utils;

$idle-group: utils.create-group(
  $text: tokens.$idle-font-color,
  $background: tokens.$idle-background-color,
  $border: tokens.$idle-border-color,
);

$active-group: utils.create-group(
  $text: tokens.$active-font-color,
  $background: tokens.$active-background-color,
  $border: tokens.$active-border-color,
);

$focus-group: utils.create-group(
  $text: tokens.$focus-font-color,
  $background: tokens.$focus-background-color,
  $border: tokens.$focus-border-color,
);

$disabled-group: utils.create-group(
  $text: tokens.$disabled-border-color,
  $background: tokens.$disabled-background-color,
  $border: tokens.$disabled-border-color,
);

$placeholder-group: utils.create-group(
  $text: tokens.$placeholder-font-color,
);

$colors: (
  "idle": tokens.$idle-icon-color,
  "active": tokens.$active-icon-color,
);

@include textarea-utils.textarea-mixin(
    "outline",
    $idle-group,
    $active-group,
    $focus-group,
    $disabled-group,
    $placeholder-group,
    $colors
  )
  using ($type) {
  @if $type == "idle" {
    border-style: solid;
    box-sizing: border-box;
    border-width: tokens.$border-width;
    padding: tokens.$padding-top
      tokens.$padding-right
      tokens.$padding-bottom
      tokens.$padding-left;
    font-family: tokens.$font-name;
    font-weight: tokens.$font-weight;
    font-size: tokens.$font-size;
    letter-spacing: tokens.$spacing;
  }
}
