@use '../../../colors/index' as colors;

$idle-text: colors.etoast-color("orange");
$idle-border: colors.etoast-color("orange");
$idle-background: colors.etoast-color("white");
$idle-border-width: 1px;

$hover-text: colors.etoast-color("white");
$hover-border: colors.etoast-color("orange");
$hover-background: colors.etoast-color("orange");

$focus-text: colors.etoast-color("white");
$focus-border: colors.etoast-color("orange");
$focus-background: colors.etoast-color("orange");
$focus-border-width: 4px;

$radius: 24px;
$height: 40px;
$min-width: 120px;
$text-style: uppercase;
