@use "../../../globals/fonts" as fonts;

// Shared tokens

$sizing: "px"; // or em

// Buttons

$button-font: fonts.$font-name;
$button-weight: fonts.$regular;
$button-size: fonts.get-size("button", $sizing);
$button-line-height: fonts.get-size("button", "line-height");
$button-spacing: 0.16px;

// Checkbox

$checkbox-font: fonts.$font-name;
$checkbox-weight: fonts.$regular;
$checkbox-size: fonts.get-size("button", $sizing);
$checkbox-line-height: 22px;
$checkbox-spacing: 0.16px;

// Radio

$radio-font: fonts.$font-name;
$radio-weight: fonts.$regular;
$radio-size: fonts.get-size("button", $sizing);
$radio-line-height: 22px;
$radio-spacing: 0.16px;

// toggle

$toggle-font: fonts.$font-name;
$toggle-font-weight: fonts.$regular;
$toggle-font-size: fonts.get-size("button", $sizing);
$toggle-line-height: 22px;
$toggle-letter-spacing: 0.16px;

// input
$input-size: 16px;
$label-size: 12px;
