@use '../../../globals/shape.scss' as shape;

// Shape
$button-radius: shape.$pill-radius;

$button-radius: shape.$pill-radius;
$checkbox-radius: shape.$round-radius;
// Shape Input
$input-radius: shape.$pill-radius;
