.Hero {
  background: url("../../assets/img/HeroBackground.svg") bottom center repeat-x transparent;
  text-align: left;
  position: relative;
  z-index: 1;
  height: 825px;
  padding: 0 75px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;

  .Title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h1 {
      font-weight: 500;
      font-size: 70px;
      line-height: 85px;
      letter-spacing: -4.5px;
      color: var(--landing-primary);
      margin-top: 0px;
      max-width: 470px;
      text-transform: uppercase;

      @media screen and (min-width: 1440px) {
        font-size: 100px;
      }
    }
  
    p {
      color: var(--primary-text);
      max-width: 357px;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;

      @media screen and (min-width: 1440px) {
        max-width: 470px;
      }
    }
  }

  .Image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    width: 300px;

    @media screen and (min-width: 1440px) {
      width: auto;
    }
  }
}

.Secondary {
  background: none;
  background-color: var(--landing-lightgray);

  .Title {
    h1 {
      text-transform: none;
    }
  }
}