.IconGuidelines {
  .BottomSection {
    text-align: left;
    background-color: var(--white);
    padding-top: 40px;
    padding-left: 66px;
    padding-right: 66px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--landing-lightgray);

    h2 {
      color: var(--landing-primary);
    }
    
    ol {
      font-size: 16px;
      line-height: 18px;
      list-style: none; 
      counter-reset: list;
      position: relative;
      padding-left: 0;
      margin-left: 20px;

      li {
        counter-increment: list;

        &::before {
          content: counter(list) ". ";
          color: var(--orange);
          font-weight: bold;
          position: absolute;
          left: -1rem;
        }
      }
    }
  }
  .IconTable {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;

    .Icon {
      color: var(--primary-text);
      height: 96px;
      width: 96px;
      text-align: center;
      padding: 5px 10px;

      span {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }

      &:hover{
        cursor: pointer;
        background-color: var(--landing-lightgray);
      }
    }
  }
}
