@use '../constants/colors.scss' as theme_colors;
@use '../constants/fonts.scss' as theme_fonts;
@use '../constants/shape.scss' as theme_shape;

$on-color: theme_colors.$primary;
$border: theme_colors.$secundary-dark;
$disabled: theme_colors.$disabled;
$radius: 50%;
$size: 22px;
$box-margin: 4px;

$font-color: theme_colors.$content;
$font-name: theme_fonts.$radio-font;
$font-weight: theme_fonts.$radio-weight;
$font-size: theme_fonts.$radio-size;
$line-height: theme_fonts.$radio-line-height;
$spacing: theme_fonts.$radio-spacing;