.App {
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
}

.Content {
  flex: 1 0 auto;
  max-width: 80%;
}

:root {
  --landing-primary: #477385;
  --landing-lightgray: #E2E7E9;
  --primary-text: #020E12;
  --white: #FFFFFF;
}