@use '../globals/colors.scss' as global_colors;
@use '../globals/fonts.scss' as global_fonts;

// Sizes

$circle-size: 18px;
$check-size: 14px;
$width: 51px;
$height: 22px;
$box-margin: 6px;
$toggle-padding: 4px 8px;
$radius: $height/2;

// Colors
$disabled-color: global_colors.$disable;
$disabled-circle-color: global_colors.$disable-dark;

$on-color: global_colors.$base;
$off-color: global_colors.$dark-contrast;
$circle-color: global_colors.$white;
$check-color: global_colors.$white;
$disabled-color: global_colors.$disable;
$disabled-circle-color: global_colors.$disable-dark;
$font-color: global_colors.$dark-contrast;

// Fonts

$font-name: global_fonts.$toggle-font;
$font-weight: global_fonts.$toggle-font-weight;
$font-size: global_fonts.$toggle-font-size;
$line-height: global_fonts.$toggle-line-height;
$letter-spacing: global_fonts.$toggle-letter-spacing;