@use '../constants/colors.scss' as theme_colors;
@use '../constants/fonts.scss' as theme_fonts;
@use '../constants/shape.scss' as theme_shape;

$main-color: theme_colors.$secondary-dark;
$border-radius: theme_shape.$checkbox-radius;
$disabled-color: theme_colors.$disabled;
$checkmark-color: theme_colors.$background;
$size: 22px;
$box-margin: 4px;

$font-color: theme_colors.$content;
$font-name: theme_fonts.$checkbox-font;
$font-weight: theme_fonts.$checkbox-weight;
$font-size: theme_fonts.$checkbox-size;
$line-height: theme_fonts.$checkbox-line-height;
$spacing: theme_fonts.$checkbox-spacing;