.PaginationDocs {

  text-align: left;

  .Main {
    padding: 40px 110px;

    &HeaderContent {
      font-size: 16px;
      line-height: 24px;
    }

    &Title {
      font-size: 29px;
      text-transform: uppercase;
      color: var(--landing-primary);
    }
  }

  .Pagination {
    max-width: 185px;

    &Label {
      color: var(--landing-primary);
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .IconToggle {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 25px;
  }
}
